// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, h3 {
    font-family: Cambria, Georgia, "Bitstream Charter", serif;
}


.right, .left {
    width: 200px;
    float: left;
    padding: 20px;
    margin: 10px;
    margin-top: -50px;
}

#error {
    margin-top: -50px;
}


label {
    text-weight: bold;
}

footer {
    width: 700px;
    float: left;
    text-align: right;
}
