// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    width: 800px;
    margin: 0px auto;
}

.product {
    width: 550px;
    border: solid black 1px;
    height: 140px;
    padding: 10px;
    float: left;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #E6F8FB;
}

.product:nth-child(even) {
    background-color: #A3ADBA;
}

.form {
    float: right;
}

b {
    padding-bottom: 10px;
}

.float-right {
    float: right;
}

.product-icon {
    float: left;
    padding-right: 20px;
    padding-top: 20px;
}
img {
    border: solid black 1px;
}

.clear {
    clear: both;
}

.sale {
    color: red;
    font-weight: bold;
}

.item {
    float: right;
    padding-right: 60px;
}

.name {
    padding-left: 22px;
}

.qty_box {
    width: 25px;
    float: right;
    border: solid 1px black;
    margin-top: 2px;
    text-align: center;
}

#error {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 30px;
    padding-top: 100px;
}

.search_box {
    border: solid 1px black;
}

.add_btn  {
    float: right;
}